* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Saira Semi Condensed", serif;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    background-color: transparent;
}
::-moz-selection {
    /* Code for Firefox */
    color: var(--primary);
    background: var(--secondary);
}

::selection {
    color: var(--primary);
    background: var(--secondary);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 8px;
    background-color: var(--primary);
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    /* width: 9px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary);
    cursor: pointer;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    opacity: 0.5;
    background-color: rgba(214, 217, 59, 0.6);
}
